*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./Components/Lucifer.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  text-align: center;
}